body{
    text-align: center;    
    background-image: url(https://attachments.office.net/owa/matteo-tom.gagnaire%40eleves.ecmorlaix.fr/service.svc/s/GetAttachmentThumbnail?id=AAMkADE0MTU1NGM2LTMwN2MtNDNmYi05N2U2LTA4MzY3MDk2ZThjZQBGAAAAAADkUr8lhApMQp8yR0MlsmIGBwC6WmiIK2sBRIdPfaMNDGB2AAAAAAEMAAC6WmiIK2sBRIdPfaMNDGB2AAT9uw85AAABEgAQACt%2B%2F99XjhxJuAD7ccZvwtw%3D&thumbnailType=2&owa=outlook.office365.com&scriptVer=2020030202.10&X-OWA-CANARY=VIC9H-AfJ065dy5METqGLNDb9S8IwtcYQ2g9KHfxz93E3-A3FM_cu2rVF-kJK2EfPBdH96CfyYw.&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjU2MzU4ODUyMzRCOTI1MkRERTAwNTc2NkQ5RDlGMjc2NTY1RjYzRTIiLCJ4NXQiOiJWaldJVWpTNUpTM2VBRmRtMmRueWRsWmZZLUkiLCJ0eXAiOiJKV1QifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2sub2ZmaWNlMzY1LmNvbSIsInZlciI6IkV4Y2hhbmdlLkNhbGxiYWNrLlYxIiwiYXBwY3R4c2VuZGVyIjoiT3dhRG93bmxvYWRAM2E3OTk0ZDctMWNlNS00MjZmLWE2ZTMtZWVlMDYxNmUyYTZjIiwiaXNzcmluZyI6IlNJUCIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTUtMjEtMjkxMTUwMzk3LTM1MTQyNzY5NDgtMjkwMjY2OTY2Ny0xMTg0NDYzXCIsXCJwdWlkXCI6XCIxMTUzODM2Mjk2MzI4NzAzNjQyXCIsXCJvaWRcIjpcIjVjYjIyYmVkLTI0Y2YtNDIxNi1iZjEzLTA3ZWUwN2ZlYThkM1wiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCJ9IiwibmJmIjoxNTgzNTI0MzIzLCJleHAiOjE1ODM1MjQ5MjMsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEAzYTc5OTRkNy0xY2U1LTQyNmYtYTZlMy1lZWUwNjE2ZTJhNmMiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudHMub2ZmaWNlLm5ldEAzYTc5OTRkNy0xY2U1LTQyNmYtYTZlMy1lZWUwNjE2ZTJhNmMifQ.Bi3pR7fLJhuH35YrxFRxQHc3qseSM3ubeCV6YnCzYhUgGoz57tmyXQZS08eTJmTc2XrcffL0HpLMTxNMloDFQ7srkI664Bi9OpAytM93WXBmLYoPHSpLikAnvwe17V-G7vxIIPfytIZxbPUF0o9T-yAR91gZ0emJsTcivWAkk2Mu0yS1vjTebdlDeRBqIsUFuFktBupXdxTorJgvZUPrS4ijR7ypShyiUNGL1SSmT-_ehmRaLsL6rE9tzPh8u5gFUSoYZQMWl0vG9FT6vgIgxbJqOA3oMNOBCzcCvreWN8ZyJOga0yDIAGJ-MGnWQyfsAZbs4R4tHVGDTg5DwmvgjQ&animation=true);
    
}
#html{
    color : MediumSeaGreen;
}
#css{
    color : darkorange;
}
#javascript{
    color : brown;
}



}

